* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100%;
	font-family: "Roboto", sans-serif;
}

.container {
	background: linear-gradient(to right, #654ea3 0%, #eaafc8 100%);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.credits {
		position: fixed;
		right: 20px;
		bottom: 10px;
		visibility: hidden;
	}
	a {
		font-weight: 500;
		color: rgba(0, 0, 0, 0.7);
		&:hover {
			color: rgba(0, 0, 0, 1);
		}
	}
}

.input-container {
	width: 100%;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	input {
		color: #fff;
		font-size: 20px;
		width: 100%;
		padding: 10px 18px;
		background: rgba(255, 255, 255, 0.1);
		border: none;
		border-radius: 20px;
		outline: none;
	}
	i {
		background: rgba(255, 255, 255, 0.2);
		margin-left: 10px;
		padding: 12px;
		border-radius: 50%;
		cursor: pointer;
		transition: 0.2s ease-in-out;
		&:hover {
			background: rgba(255, 255, 255, 0.4);
		}
	}
}

.box {
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	padding: 30px 40px;
	border-radius: 16px;
	min-width: 500px;
}

.location-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 30px;
	.left {
		align-items: center;
		display: flex;
	}
	.location {
		margin-left: 20px;
	}
}

.temp-container {
	display: flex;
	margin: 20px 0;
	.temp {
		font-size: 90px;
		line-height: 100%;
		font-weight: 300;
	}
	.right {
		margin-left: 14px;
		font-size: 26px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.unit {
			padding-bottom: 4px;
		}
		.detail {
			padding-left: 2px;
			font-weight: 500;
			text-transform: capitalize;
		}
	}
	i {
		font-size: 60px;
		align-self: center;
		margin-left: 50px;
	}
}

.extras {
	display: flex;
	justify-content: space-between;
	div {
		margin: 10px 0 0;
	}
}
